<app-header></app-header>
<img class="image" src="../../../assets/images/Senza titolo.png" width="15%" height="250px">
<div class="CLASSE1">
  <div class="CLASSE2">
    <p class="CLASSE3">Take<span class="text">what</span> you want <br> E-commerce<span class="text">online.</span></p>
    <p class="CLASSE4">Semplice e-commerce con vari articoli </p>
  </div>
  <button class="CLASSE5" routerLink="/signup">Go to the store!</button>
</div>
<hr>
<h1><b><br>FEATURES:</b></h1>
<div class="row mt-4  mb-4 text-center">
<div class="card" style="width: 25rem;">
  <img class="card-img-top" src="../../../assets/images/7.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title mb-5">24/7 Customer Service.</h5>
    <p class="card-text mt-5"></p>
  </div>Use the contacts for any information or for assistance on an order placed
</div>
<div class="card" style="width: 25rem;">
  <img class="card-img-top" src="../../../assets/images/6.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Low Cost</h5>
    <p class="card-text">Buy what you want at unbeatable prices.</p>
  </div>
</div>
<div class="card" style="width: 25rem;">
  <img class="card-img-top" src="../../../assets/images/5.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Security Mechanisms</h5>
    <p class="card-text">Maximum security systems during the manipulation of important data during payments.</p>
  </div>
</div>
</div>

