<footer class="text-center text-lg-start bg-light text-muted">

  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">

    <div class="me-5 d-none d-lg-block">
      <span>Here's where you can find me:</span>
    </div>
    <div>
      <a href="https://www.facebook.com/luigi.buono.9250/" target="_blank" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="https://twitter.com/LuigiBu48833456" target="_blank" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="https://www.linkedin.com/in/luigi-buono-/" target="_blank" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="https://github.com/luigibuono" target="_blank" class="me-4 text-reset">
        <i class="fab fa-github"></i>
      </a>
    </div>

  </section>


  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div  class="col-md-3 col-lg-4 col-xl-3 mx-auto   mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <a class="navbar-brand mx-4">
              <img id="logo" src="../../../assets/images/logo.png" alt="" srcset="">
            </a>
          </h6>

          <b> E-commerce ,warehouse in Ischia</b>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Created by
          </h6>
          <p>
            <a href="#!" class="text-reset">Luigi Buono</a>
          </p>

        </div>


      </div>
      <!-- Grid row -->
    </div>
  </section>

  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2023 Copyright

  </div>

</footer>
